<div class="next-match-card">
  <nb-card [accent]="match.isDue ? 'success' : 'warning'">
    <nb-card-body>
      <div class="d-flex flex-column w-100 h-100 align-items-center">
        <h6 class="small">
          {{match.isDue ? 'Your next opponent is ready!' : 'Waiting for your next opponent'}}
        </h6>
        <lan-tournament-match [match]="match" [tournament]="tournament"
                              (teamHover)="teamHover.emit($event)"></lan-tournament-match>
        <div class="d-flex justify-content-start flex-grow-1 pt-3 px-2 w-100">
          <button nbButton [appearance]="match.isDue ? 'outline' : 'ghost'"
                  [status]="match.isDue ? 'success' : 'primary'" size="small"
                  [disabled]="!match.isDue"
                  (click)="openScoreModal(scoreDialog, match)">Set score
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #scoreDialog let-match>
  <nb-card>
    <nb-card-header><h6 class="font-weight-lighter mb-2 text-center">Enter the match result</h6></nb-card-header>
    <nb-card-body>
      <form [formGroup]="scoreForm">
        <div class="w-100" formArrayName="scores">
          <div class="d-flex justify-content-between mb-4" [style.minWidth]="'30vw'">
            <ng-container *ngFor="let score of match.scores; let i = index">
              <div class="d-flex flex-column flex-grow-1">
                <lan-tournament-team [team]="score.tournamentTeam" [tournament]="tournament"></lan-tournament-team>
                <div class="p-1">
                  <input nbInput type="number" fullWidth="true" placeholder="Score" [formControlName]="i">
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center align-content-center"
                   *ngIf="i !== match.scores.length -1">
                <span class="h1 mx-4 mb-0 font-weight-lighter ">VS</span>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center" *ngIf="scoresFormList.dirty && scoresFormList.invalid">
        <h6 class="font-weight-lighter mb-2">
          <nb-icon status="danger" [icon]="'close-circle-outline'"></nb-icon>
          {{scoresFormList.hasError('noWinner') ? 'Entered Scores do not determine a Winner!' : ''}}
        </h6>
      </div>
      <div class="d-flex justify-content-center">
        <h6 class="font-weight-lighter mb-2">
          <nb-icon status="info" [icon]="'info-outline'"></nb-icon>
          Only the loser can enter the match result.
        </h6>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <button nbButton appearance="ghost" status="primary" (click)="modalRef.close()">Cancel</button>
        <button nbButton appearance="outline" status="success" [disabled]="scoreForm.invalid"
                (click)="saveScore(match)">Set Score
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
