<div class="row">
  <div class="col-3"></div>
  <div class="col-4">
    <nb-card [accent]="form.valid ? 'success' : 'info'">
      <nb-card-header>Create a new Room</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form">
          <div class="mb-5 mt-2">
            <label for="name"><strong>Room name</strong></label><br>
            <input type="text" id="name" nbInput placeholder="Name"
                   [status]="formFieldStatus('name')"
                   fullWidth="true" formControlName="name">
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('required')">
              Required
            </div>
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('minlength')">
              Minimum length is 8 characters
            </div>
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('maxlength')">
              Maximum length is 100 characters
            </div>
          </div>
          <div class="mb-5">
            <label for="sizeX"><strong>Size X</strong></label><br>
            <input type="number" id="sizeX" nbInput [status]="formFieldStatus('sizeX')" fullWidth="true"
                   placeholder="Size X" formControlName="sizeX">
            <div class="form-error" *ngIf="form.get('sizeX').touched && form.get('sizeX').hasError('required')">
              Required
            </div>
            <div class="form-error" *ngIf="form.get('sizeX').touched && form.get('sizeX').hasError('min')">
              Must be 1 or greater
            </div>
          </div>
          <div class="mb-5">
            <label for="sizeY"><strong>Size Y</strong></label><br>
            <input type="number" id="sizeY" nbInput [status]="formFieldStatus('sizeY')" fullWidth="true"
                   placeholder="Size Y" formControlName="sizeY">
            <div class="form-error" *ngIf="form.get('sizeY').touched && form.get('sizeY').hasError('required')">
              Required
            </div>
            <div class="form-error" *ngIf="form.get('sizeY').touched && form.get('sizeY').hasError('min')">
              Must be 1 or greater
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="float-right" nbButton [appearance]="form.valid ? 'outline' : 'ghost'" [disabled]="!form.valid"
                [status]="form.valid ? 'success' : 'primary'" (click)="submit()">
          Create Room
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-5"></div>
</div>
