<ng-container *ngIf="tournament$ | async as tournament">
  <ng-container *ngIf="tournament.isLocked">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <nb-card accent="danger">
          <nb-card-body>
            <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 90px">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <nb-icon status="danger" icon="close-circle-outline" class="align-self-center"
                         style="width: 35px; height: 35px;" class="mb-2"
                         [options]="{ animation: { type: 'shake', hover: false } }"></nb-icon>
                <h6>Tournament already Started</h6>

                <button nbButton appearance="ghost" size="small" status="primary">Back to tournaments</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-4"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="tournament.playerPerTeam > 1 && !tournament.isLocked">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <lan-create-tournament-team [tournament]="tournament"
                                    (save)="createNewTournamentTeam($event)"></lan-create-tournament-team>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <nb-card accent="success">
          <nb-card-header>
            <h4 class="font-weight-lighter mb-0">Join an existing Team</h4>
          </nb-card-header>
        </nb-card>
        <ng-container *ngFor="let team of tournament.humanTeams">
          <lan-tournament-team-card [tournament]="tournament" [tournamentTeam]="team"></lan-tournament-team-card>
        </ng-container>
      </div>
      <div class="col-2"></div>
    </div>
  </ng-container>


  <ng-container *ngIf="tournament.playerPerTeam === 1">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-4">
        <nb-card [accent]="accent">
          <nb-card-header class="d-flex flex-column justify-content-center align-items-center">
            <h5>{{tournament.name}}</h5>
            {{tournament.playerPerTeam + 'v' + tournament.playerPerTeam}} {{tournament.mode}}</nb-card-header>
          <nb-card-body>
            <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 90px">
              <div *ngIf="isLoading$ | async">
                <nb-spinner size="large" status="info" message="" class="no-background"
                            [message]="'Joining Tournament'"></nb-spinner>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center"
                   *ngIf="(isLoading$ | async) === false && (error$ | async) === null">
                <nb-icon status="success" icon="checkmark-circle-outline"
                         style="width: 35px; height: 35px;" class="mb-2"
                         [options]="{ animation: {type: 'flip', hover: false} }"></nb-icon>
                <h6>Done. GLHF!</h6>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center"
                   *ngIf="(error$ | async) as errorMsg">
                <nb-icon status="danger" icon="close-circle-outline" class="align-self-center"
                         style="width: 35px; height: 35px;" class="mb-2"
                         [options]="{ animation: { type: 'shake', hover: false } }"></nb-icon>
                <h6>{{errorMsg}}</h6>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-5"></div>
    </div>
  </ng-container>
</ng-container>
