<ng-container *ngIf="team && tournament">
  <div (mouseenter)="onTeamMouseEnter($event, team)" (mouseleave)="onTeamMouseLeave()">
    <ng-container *ngIf="team.members.length === 1">
      <lan-user [user]="team.members[0]?.member" [size]="'medium'"></lan-user>
    </ng-container>
    <ng-container *ngIf="team.members.length > 1">
      <lan-tournament-team-minified [tournamentTeam]="team" [tournament]="tournament" [size]="'medium'"></lan-tournament-team-minified>
    </ng-container>
  </div>
  <!--  Only one team member in 1v1-->
</ng-container>
