@import '../../../../../../tournament-tree-variables';
@import '../../../../../../theme';

.match__container {
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  border-radius: 15px;
  border: 1px solid nb-theme(border-primary-color-2);
  background-color: nb-theme(background-basic-color-2);
  color: white;
  overflow: hidden;
  position: relative;
}

.score-badge {
  position: absolute;
  top: 3%;
  right: 0;
  height: 90%;
  width: 2rem;
  padding-right: 0.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  background-color: nb-theme(background-basic-color-2);
  color: nb-theme(color-warning-400);
}

.is-completed {
  border-color: nb-theme(border-primary-color-3);
}

.is-highlighted {
  border-color: nb-theme(color-warning-hover) !important;
  box-shadow: nb-theme(shadow);
  transition: all ease-in 150ms;
}
