<ng-container *ngIf="match">
  <div class="match__container" [class.is-completed]="match.isCompleted || !match.isDue"
       [class.is-highlighted]="teamIsHighlighted">
    <div class="d-flex flex-column justify-content-between h-100 w-100">
      <div class="d-flex flex-grow-1 h-50 align-items-center overflow-hidden">
        <ng-container
          *ngTemplateOutlet="teamTemplate;
          context: {$implicit: match.scores[0].tournamentTeam, teamScore: match.scores[0], winnerScore: match.winnerScore}"></ng-container>
      </div>
      <hr class="my-0 w-100">
      <div class="d-flex flex-grow-1 h-50 align-items-center overflow-hidden">
        <ng-container
          *ngTemplateOutlet="teamTemplate;
          context: {$implicit: match.scores[1].tournamentTeam, teamScore: match.scores[1], winnerScore: match.winnerScore}"></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #teamTemplate let-team let-teamScore="teamScore" let-winnerScore="winnerScore">
  <ng-container *ngIf="team; else waitingForPlayer">
    <ng-container *ngIf="team.name !== 'Bye'; else bye">
      <div class="position-relative w-100">
        <div [style.width]="'85%'">
          <lan-tournament-team [team]="team" [tournament]="tournament" (teamHover)="teamHover.emit($event)"></lan-tournament-team>
        </div>
        <div class="score-badge" *ngIf="teamScore?.score !== undefined">
          <ng-container *ngIf="winnerScore?.score && winnerScore?.score === teamScore.score">
            <fa-icon [icon]="faTrophy" fixedWidth="true" [classes]="['mr-1']"></fa-icon>
          </ng-container>
          <span [class.text-muted]="winnerScore?.score !== teamScore.score || teamScore.score === null">
            {{teamScore.score ? teamScore.score : 0}}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>


<ng-template #waitingForPlayer>
  <div class="d-flex justify-content-center w-100 small text-muted">
    Waiting for Player
  </div>
</ng-template>

<ng-template #bye>
  <div class="d-flex justify-content-center w-100 small text-muted">
    Bye
  </div>
</ng-template>
