<div class="row">
  <div class="col-3"></div>
  <div class="col-4">
    <nb-card [accent]="form.valid ? 'success' : 'info'">
      <nb-card-header>Create a new Tournament</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form">
          <div class="mb-5 mt-2">
            <label for="name"><strong>Tournament name</strong></label><br>
            <input type="text" id="name" nbInput placeholder="Name"
                   [status]="formFieldStatus('name')"
                   fullWidth="true" formControlName="name">
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
            </div>
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('minlength')">Minimum
              length is 8
              characters
            </div>
            <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('maxlength')">Maximum
              length is 100
              characters
            </div>
          </div>
          <div class="mb-5">
            <label for="teamsize"><strong>Players per Team</strong></label><br>
            <input type="number" id="teamsize" nbInput [status]="formFieldStatus('playerPerTeam')" fullWidth="true"
                   placeholder="Teamsize" formControlName="playerPerTeam">
            <div class="form-error"
                 *ngIf="form.get('playerPerTeam').touched && form.get('playerPerTeam').hasError('required')">Required
            </div>
            <div class="form-error"
                 *ngIf="form.get('playerPerTeam').touched && form.get('playerPerTeam').hasError('min')">Must be 1 or
              greater
            </div>
          </div>
          <div class="mb-5">
            <label><strong>Gamemode</strong></label>
            <nb-radio-group formControlName="mode">
              <nb-radio value="SingleElimination">Single Elimination</nb-radio>
              <nb-radio value="DoubleElimination">Double Elimination</nb-radio>
            </nb-radio-group>
          </div>
          <div class="mb-2">
            <label for="file"><strong>Tournament Image</strong></label><br>
            <lan-image-cropper id="file" [aspectRatio]="2" [resizeToWidth]="1000"
                               (croppedImageEvent)="fileConfirmationEvent.next($event)"></lan-image-cropper>
            <div class="form-error"
                 *ngIf="form.get('image').touched && form.get('image').hasError('required')">Required
            </div>
            <div class="form-error"
                 *ngIf="form.get('playerPerTeam').touched && form.get('playerPerTeam').hasError('min')">Must be 1 or
              greater
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="float-right" nbButton [appearance]="form.valid ? 'outline' : 'ghost'" [disabled]="form.invalid"
                [status]="form.valid ? 'success' : 'primary'" (click)="submit()">
          Create Tournament
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-5"></div>
</div>
