<nb-layout>
  <nb-layout-header subheader fixed>
    <div class="row w-100">
      <div class="col-10">
        <nb-actions size="medium">
          <nb-action [routerLink]="['/tournaments']" [routerLinkActive]="'nav-link-active'" class="nav-link">
            <a style="cursor: pointer;"
               class="h6 mb-0">Tournaments</a>
          </nb-action>
          <nb-action [routerLink]="['/rooms']" [routerLinkActive]="'nav-link-active'" class="nav-link">
            <a style="cursor: pointer;"
               class="h6 mb-0">Rooms</a>
          </nb-action>
          <nb-action [routerLink]="['/user']" [routerLinkActive]="'nav-link-active'" class="nav-link" [disabled]="true">
            <a style="cursor: pointer;"
               class="h6 mb-0">Users</a>
          </nb-action>
        </nb-actions>
      </div>
      <div class="col-2">
        <lan-self></lan-self>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar [containerFixed]="true" class="overflow-hidden">
    <nb-sidebar-header><a class="font-weight-light h3 text-decoration-none" [routerLink]="['']">Clanwars 2019</a>
    </nb-sidebar-header>
    <nb-list>
      <nb-list-item>
        <h6 class="text-center mb-0">Chat</h6>
      </nb-list-item>
      <nb-list-item *ngFor="let user of (users$ | async)" class="p-1 overflow-hidden border-0">
        <lan-user [user]="user" [size]="'small'"></lan-user>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>

  <nb-layout-column>
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <lan-chat-main></lan-chat-main>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
