<ng-container *ngIf="room">
  <nb-card [status]="isSeatingMode ? 'danger' : ''">
    <nb-card-header>
      <div class="d-flex w-100 justify-content-between align-items-center">
        <h1 class="text-center mb-0">{{room.name}}
          <small *ngIf="room.countSeats">&middot; Seats: {{room.countSeats}}</small>
        </h1>
        <div class="w-25">
          <lan-user-selector (selectedUserChange)="selectedUser = $event"></lan-user-selector>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="room !== null">
        <lan-room-grid [room]="room" [userHighlight]="selectedUser"
                       (gridClicked)="onGridClicked(gridDialog, $event)"></lan-room-grid>
      </ng-container>
    </nb-card-body>
    <nb-card-footer *ngIf="(userIsManager$ | async) === true">
      <button nbButton appearance="filled" (click)="isSeatingMode = !isSeatingMode"
              [status]="isSeatingMode ? 'danger' : 'success'">{{isSeatingMode ? 'Stop Seating-Mode' : 'Start Seating-Mode'}}</button>
    </nb-card-footer>
  </nb-card>
</ng-container>

<ng-template #gridDialog let-data let-ref="dialogRef">
  <ng-container *ngIf="isSeatingMode">
    <div style="min-width: 400px;" id="modal">
      <nb-card>
        <nb-card-header>Place a Player at {{selectedGrid.x}}x{{selectedGrid.y}}</nb-card-header>
        <nb-card-body style="overflow: visible">
          <lan-user-selector [selectedUser]="data?.user"
                             (selectedUserChange)="selectedUserModal = $event"></lan-user-selector>
        </nb-card-body>
        <nb-card-footer>
          <div class="d-flex justify-content-between">
            <button nbButton appearance="ghost" (click)="modalRef.close()">Cancel</button>
            <button nbButton [appearance]="selectedUserModal ? 'filled' : 'ghost'" status="success"
                    [disabled]="!selectedUserModal"
                    (click)="seatPlayer(selectedUserModal, data)">Seat Player
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </ng-container>
  <ng-container *ngIf="!isSeatingMode">
    <lan-user-card [user]="data?.user" [hasFooter]="true">
      <div class="d-flex justify-content-end">
        <button nbButton appearance="ghost" status="primary" size="small" (click)="modalRef.close()">Close</button>
      </div>
    </lan-user-card>
  </ng-container>
</ng-template>
