<nb-card accent="primary" *ngIf="user$ | async as user">
  <nb-card-body>
    <div class="d-flex flex-column" style="min-width: 15vw">
      <div class="d-flex flex-row justify-content-center">
        <nb-user [picture]="image$ | async" size="giant" [name]="user.nickname" [onlyPicture]="true"
                 shape="semi-round"></nb-user>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <h4 class="text-center">{{user.nickname}}</h4>
      </div>
    </div>
  </nb-card-body>
  <div class="d-flex flex-row w-100">
    <nb-list style="cursor: pointer;">
      <nb-list-item [routerLink]="['/user/' + user.id + '/profile']" (click)="menuAction.emit(UserMenuAction.PROFILE)">
        <nb-icon [icon]="'person-outline'"></nb-icon>
        Profile
      </nb-list-item>
      <nb-list-item *ngIf="!isCurrentUser" (click)="menuAction.emit(UserMenuAction.CHAT)">
        <nb-icon [icon]="'message-square-outline'"></nb-icon>
        Chat
      </nb-list-item>
      <nb-list-item *ngIf="isCurrentUser" [routerLink]="['/auth/logout']"
                    (click)="menuAction.emit(UserMenuAction.LOGOUT)">
        <nb-icon [icon]="'log-out-outline'"></nb-icon>
        Logout
      </nb-list-item>
    </nb-list>
  </div>
  <nb-card-footer *ngIf="hasFooter">
    <ng-content></ng-content>
  </nb-card-footer>
</nb-card>
