<ng-container *ngIf="currentUser">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <nb-card accent="success">
        <nb-card-header>
          <h4 class="font-weight-light text-center">Your Team</h4>
        </nb-card-header>
      </nb-card>
      <ng-container *ngIf="ownTournamentTeam">
        <lan-tournament-team-card [tournament]="tournament"
                                  [tournamentTeam]="ownTournamentTeam"></lan-tournament-team-card>
      </ng-container>
      <ng-container *ngIf="!ownTournamentTeam">
        <nb-card>
          <nb-card-body>
            <div class="d-flex flex-column align-items-center">
              <span class="h6 text-secondary">
                You did not join a Team yet.
              </span>
              <button nbButton appearance="outline" status="success"
                      [routerLink]="['/tournaments', tournament.id, 'register']">Join now
              </button>
            </div>
          </nb-card-body>
        </nb-card>
      </ng-container>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nb-card accent="danger">
        <nb-card-header>
          <h4 class="font-weight-light text-center">Your Opponents</h4>
        </nb-card-header>
      </nb-card>
    </div>
    <ng-container *ngFor="let team of tournament.humanTeams">
      <ng-container *ngIf="team.id !== ownTournamentTeam?.id"> <!--filter out own team -->
        <div class="col-4">
          <lan-tournament-team-card [tournament]="tournament" [tournamentTeam]="team"></lan-tournament-team-card>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
