<ng-container *ngIf="userIsManager$ | async">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <nb-card accent="info">
        <nb-card-header><h3 class="font-weight-lighter w-75 d-inline-block">Tournament Management</h3>
          <button class="float-right" nbButton status="primary" outline="true" (click)="addNewTournament()">
            Add new Tournament
          </button>
        </nb-card-header>
      </nb-card>
      <lan-tournament-list [tournaments]="plannedTournaments$ | async"
                           (tournamentDelete)="deleteTournamentEvent.next($event)"
                           (tournamentOpenRegistration)="startRegistration($event)"
                           (tournamentUpdate)="openUpdateModal($event, updateTournamentDialog)"></lan-tournament-list>
    </div>
    <div class="col-1"></div>
  </div>
</ng-container>
<ng-container *ngIf="activeTournaments$ | async as activeTournaments">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <nb-card accent="success">
        <nb-card-header><h3 class="font-weight-lighter">Running Tournaments</h3></nb-card-header>
      </nb-card>
      <lan-tournament-list [tournaments]="activeTournaments"
                           (tournamentStart)="startTournamentEvent.next($event)"
                           (tournamentDelete)="deleteTournamentEvent.next($event)"
                           (tournamentUpdate)="openUpdateModal($event, updateTournamentDialog)"></lan-tournament-list>
    </div>
    <div class="col-1"></div>
  </div>
</ng-container>

<ng-container *ngIf="finishedTournaments$ | async as finishedTournaments">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <nb-card accent="danger">
        <nb-card-header><h3 class="font-weight-lighter">Finished Tournaments</h3></nb-card-header>
      </nb-card>
      <lan-tournament-list [tournaments]="finishedTournaments"></lan-tournament-list>
    </div>
    <div class="col-1"></div>
  </div>
</ng-container>

<ng-template #updateTournamentDialog let-tournament>
  <lan-update-tournament [tournament]="tournament" (cancel)="modalRef.close()"
                         (save)="saveTournamentUpdateEvent.next($event)"></lan-update-tournament>
</ng-template>
