<ng-container *ngIf="(user$ | async)">
  <ng-container *ngIf="disableMenu">
    <nb-user [name]="(user$ | async).nickname" [picture]="image$ | async" [size]="size"
             shape="semi-round"></nb-user>
  </ng-container>
  <ng-container *ngIf="!disableMenu">
    <div class="p-1" style="cursor: pointer" role="button" (click)="openUserModal(userMenu)">
      <nb-user [name]="(user$ | async).nickname" [picture]="image$ | async" [size]="size"
               shape="semi-round"></nb-user>
    </div>
  </ng-container>
</ng-container>
<ng-template #userMenu>
  <lan-user-card [user]="user$ | async" [hasFooter]="true" (menuAction)="modalRef.close()">
    <div class="d-flex justify-content-end">
      <button nbButton appearance="ghost" status="primary" size="small" (click)="modalRef.close()">Close</button>
    </div>
  </lan-user-card>
</ng-template>
