<ng-container *ngIf="tournament && tournamentTeam">
  <div class="p-1" style="cursor: pointer" role="button" (click)="openModal(teamCard)">
    <nb-user [name]="tournamentTeam.name"
             [picture]="tournamentTeam.imageUrl ? prepareImgUrl(tournamentTeam.imageUrl) : null" [size]="size"
             shape="semi-round"></nb-user>
  </div>
</ng-container>
<ng-template #teamCard>
  <lan-tournament-team-card [tournamentTeam]="tournamentTeam" [tournament]="tournament">
  </lan-tournament-team-card>
</ng-template>
