<div class="d-flex justify-content-center">
  <table class="grid-container">
    <tr class="d-flex">
      <td class="d-flex coordinate-cell"></td>
      <td class="d-flex coordinate-cell justify-content-center align-items-end"
          *ngFor="let coord of getXCoordinateList(); let i = index;">
        {{i + 1}}
      </td>
    </tr>
    <tr *ngFor="let row of grid; let i = index" class="grid-row">
      <td class="d-flex coordinate-cell border-0 justify-content-end align-items-center">{{i + 1}}</td>
      <td *ngFor="let gridSquare of row" (click)="clickGrid(gridSquare)" class="p-0 m-0">
        <!--      {{gridSquare?.type}}-->
        <ng-container [ngSwitch]="gridSquare?.type">
          <ng-container *ngSwitchCase="GridSquareType.WALL_LINE">
            <ng-container *ngTemplateOutlet="wallLine; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.WALL_T">
            <ng-container *ngTemplateOutlet="wallT; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.WALL_X">
            <ng-container *ngTemplateOutlet="wallX; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.WALL_CORNER">
            <ng-container *ngTemplateOutlet="wallCorner; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.BAR_COUNTER_LINE">
            <ng-container *ngTemplateOutlet="barCounterLine; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.BAR_COUNTER_CORNER">
            <ng-container *ngTemplateOutlet="barCounterCorner; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.BAR_ICON">
            <ng-container *ngTemplateOutlet="barIcon; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.BEAMER_SCREEN">
            <ng-container *ngTemplateOutlet="beamerScreen; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.STAGE_CORNER">
            <ng-container *ngTemplateOutlet="stageCorner; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.STAGE_LINE">
            <ng-container *ngTemplateOutlet="stageLine; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.STAIRS">
            <ng-container *ngTemplateOutlet="stairs; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.DOOR">
            <ng-container *ngTemplateOutlet="door; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.SLEEP_ICON">
            <ng-container *ngTemplateOutlet="sleepIcon; context: {rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.SEAT_DEFAULT">
            <ng-container
              *ngTemplateOutlet="seatDefault; context: {user: gridSquare.user, rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.SEAT_TECH_SUPPORT">
            <ng-container
              *ngTemplateOutlet="seatTechSupport; context: {user: gridSquare.user, rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.SEAT_TOURNAMENT_SUPPORT">
            <ng-container
              *ngTemplateOutlet="seatTournamentManagement; context: {user: gridSquare.user, rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="GridSquareType.SEAT_CASHIER">
            <ng-container
              *ngTemplateOutlet="seatCashier; context: {user: gridSquare.user, rotation: gridSquare.rotation}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="grid-cell"></div>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
<ng-template #wallLine let-rotation="rotation">
  <div class="grid-cell">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="wall-line"></div>
    </div>
  </div>
</ng-template>
<ng-template #wallT let-rotation="rotation">
  <div class="grid-cell">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="wall-t--long"></div>
      <div class="wall-t--short"></div>
    </div>
  </div>
</ng-template>
<ng-template #wallX let-rotation="rotation">
  <div class="grid-cell">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="wall-x--short wall-x--short-top"></div>
      <div class="wall-x--long"></div>
      <div class="wall-x--short wall-x--short-bottom"></div>
    </div>
  </div>
</ng-template>
<ng-template #wallCorner let-rotation="rotation">
  <div class="grid-cell">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="wall-corner"></div>
      <div class="wall-corner--short"></div>
    </div>
  </div>
</ng-template>
<ng-template #barCounterLine let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Bar'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="bar-counter-line"></div>
    </div>
  </div>
</ng-template>
<ng-template #barCounterCorner let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Bar'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="bar-counter-corner"></div>
      <div class="bar-counter-corner--short"></div>
    </div>
  </div>
</ng-template>
<ng-template #barIcon let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Bar'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="floor">
        <div class="icon-container grid-container-size bar-icon">
          <fa-icon [icon]="faGlassCheers"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #beamerScreen let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Beamer Screen'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="floor">
        <div class="icon-container grid-container-size beamer-icon">
          <fa-icon [icon]="faBeamerScreen"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #stageCorner let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Stage'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="stage-corner"></div>
      <div class="stage-corner--short"></div>
    </div>
  </div>
</ng-template>
<ng-template #stageLine let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Stage'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="stage-line"></div>
    </div>
  </div>
</ng-template>
<ng-template #stairs let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Stairs'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="stairs">
        <div class="icon-container">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </div>
        <div class="step step--1"></div>
        <div class="step step--2"></div>
        <div class="step step--3"></div>
        <div class="step step--4"></div>
        <div class="step step--5"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #door let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Door'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="door">
        <div class="icon-container grid-container-size">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </div>
        <div class="door--left">
        </div>
        <div class="door--right">
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #sleepIcon let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="'Sleeping Area'">
    <div class="rotation-container" [ngClass]="rotation">
      <div class="floor">
        <div class="icon-container grid-container-size sleep-icon">
          <fa-icon [icon]="faBed"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #seatDefault let-user="user" let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="user ? asUser(user).nickname : 'Empty Seat'">
    <div class="rotation-container transition-opacity" [ngClass]="rotation"
         [class.self-highlight]="user && (currentUser$ | async)?.id === asUser(user)?.id"
         [class.search-highlight]="userHighlight && userHighlight.id === user?.id"
         [class.not-search-result]="userHighlight && userHighlight.id !== user?.id">
      <div class="floor">
        <div class="seat" [class.bg-seat-empty]="!user" [class.bg-seat-occupied]="user">
          <div class="icon-container" *ngIf="user">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
        </div>
        <div class="stool" [class.bg-seat-empty]="!user" [class.bg-seat-occupied]="user"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #seatTechSupport let-user="user" let-rotation="rotation">
  <div class="grid-cell" [nbTooltip]="user ? 'Tech-Support: ' + asUser(user).nickname : 'Tech-Support: Empty Seat'">
    <div class="rotation-container transition-opacity" [ngClass]="rotation"
         [class.self-highlight]="user && (currentUser$ | async)?.id === asUser(user)?.id"
         [class.search-highlight]="userHighlight && userHighlight.id === user?.id"
         [class.not-search-result]="userHighlight && userHighlight.id !== user?.id">
      <div class="floor">
        <div class="seat bg-tech-support">
          <div class="icon-container" *ngIf="user">
            <fa-icon [icon]="faTechSupport"></fa-icon>
          </div>
        </div>
        <div class="stool" [class.bg-seat-empty]="!user" [class.bg-tech-support]="user"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #seatTournamentManagement let-user="user" let-rotation="rotation">
  <div class="grid-cell"
       [nbTooltip]="user ? 'Tournament-Support: ' + asUser(user).nickname : 'Tournament-Support: Empty Seat'">
    <div class="rotation-container transition-opacity" [ngClass]="rotation"
         [class.self-highlight]="user && (currentUser$ | async)?.id === asUser(user)?.id"
         [class.search-highlight]="userHighlight && userHighlight.id === user?.id"
         [class.not-search-result]="userHighlight && userHighlight.id !== user?.id">
      <div class="floor">
        <div class="seat bg-tournament-support">
          <div class="icon-container" *ngIf="user">
            <fa-icon [icon]="faTournamentSupport"></fa-icon>
          </div>
        </div>
        <div class="stool" [class.bg-seat-empty]="!user" [class.bg-tournament-support]="user"></div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #seatCashier let-user="user" let-rotation="rotation">
  <div class="grid-cell"
       [nbTooltip]="user ? 'Cashier: ' + asUser(user).nickname : 'Cashier: Empty Seat'">
    <div class="rotation-container transition-opacity" [ngClass]="rotation"
         [class.self-highlight]="user && (currentUser$ | async)?.id === asUser(user)?.id"
         [class.search-highlight]="userHighlight && userHighlight.id === user?.id"
         [class.not-search-result]="userHighlight && userHighlight.id !== user?.id">
      <div class="floor">
        <div class="seat bg-cashier">
          <div class="icon-container" *ngIf="user">
            <fa-icon [icon]="faCashier"></fa-icon>
          </div>
        </div>
        <div class="stool" [class.bg-seat-empty]="!user" [class.bg-cashier]="user"></div>
      </div>
    </div>
  </div>
</ng-template>
