@import '../../../../../theme';

$cell-size: 42px;

$grid-border-color: nb-theme(border-primary-color-3);
$grid-border-color-highlight: nb-theme(border-primary-color-1);
$border-color: nb-theme(border-primary-color-3);
$wall-fill-color: nb-theme(background-primary-color-1);
$bar-fill-color: nb-theme(color-success-500);
$stage-fill-color: nb-theme(color-warning-500);
$seat-empty-fill-color: nb-theme(color-primary-200);
$seat-occupied-fill-color: nb-theme(color-primary-400);
$seat-tech-support-fill-color: nb-theme(color-warning-600);
$seat-tournament-support-fill-color: nb-theme(color-danger-600);
$seat-cashier-fill-color: nb-theme(color-success-600);

$self-highlight-color: nb-theme(color-success-500);
$search-highlight-color: nb-theme(color-warning-500);

$bar-icon-color: nb-theme(color-success-600);
$sleep-icon-color: nb-theme(color-primary-600);
$beamer-icon-color: nb-theme(color-warning-600);
$seat-empty-icon-color: nb-theme(color-primary-600);
$seat-occupied-icon-color: nb-theme(color-primary-200);

.grid-container {
  overflow: auto;
  padding: 5px;
}

.grid-container-size {
  min-width: $cell-size;
  max-width: $cell-size;
  min-height: $cell-size;
  max-height: $cell-size;
}

.icon-container {
  z-index: 3;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-row {
  display: flex;
  flex-wrap: nowrap;
}

.self-highlight {
  box-shadow: 0 0 0 2px inset $self-highlight-color;
}

.search-highlight {
  box-shadow: 0 0 0 2px inset $search-highlight-color;
}

.not-search-result {
  opacity: 0.2;
}

.coordinate-cell {
  @extend .grid-container-size;
  font-size: 80%;
  padding: 3px 5px;
}

.grid-cell {
  @extend .grid-container-size;
  border-collapse: collapse;

  font-size: 80%;

  position: relative;
  display: flex;
  transition: box-shadow ease-in 150ms;

  &:hover {
    box-shadow: 0 0 3px 0 inset $grid-border-color-highlight;
  }

  &::after {
    @extend .grid-container-size;
    content: "";
    border: 0.5px solid $grid-border-color;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: transparent;
    position: absolute;
  }
}

.wall-line {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: $wall-fill-color;
}

.wall-t {
  &--long {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    z-index: 2;
    top: calc(75% / 2);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $wall-fill-color;
  }

  &--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    bottom: 0;
    left: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $wall-fill-color;
  }
}

.wall-x {
  &--long {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    z-index: 2;
    top: calc(75% / 2);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $wall-fill-color;
  }

  &--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    left: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $wall-fill-color;

    &-bottom {
      bottom: 0;
    }

    &-top {
      top: 0;
    }
  }
}

.wall-corner {
  position: absolute;
  width: 62.5%;
  height: 25%;
  left: 0;
  z-index: 2;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background-color: $wall-fill-color;

  &--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    left: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $wall-fill-color;
    bottom: 0;
  }
}

.bar-counter-line {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: $bar-fill-color;
}

.bar-counter-corner {
  position: absolute;
  width: 62.5%;
  height: 25%;
  left: 0;
  z-index: 2;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background-color: $bar-fill-color;

  &--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    left: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $bar-fill-color;
    bottom: 0;
  }
}

.stage-corner {
  position: absolute;
  width: 62.5%;
  height: 25%;
  left: 0;
  z-index: 2;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background-color: $stage-fill-color;

  &--short {
    z-index: 3;
    position: absolute;
    width: 25%;
    height: calc(100% / 2 - 25% / 2 + 4%);
    left: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background-color: $stage-fill-color;
    bottom: 0;
  }
}

.stage-line {
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  top: calc(75% / 2);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: $stage-fill-color;
}

.stairs {
  .step {
    width: 90%;
    margin-left: 5%;
    height: 20%;
    left: 0;
    position: absolute;
    background-color: $wall-fill-color;

    &--1 {
      bottom: 0;
      opacity: 0.9;
    }

    &--2 {
      bottom: 20%;
      opacity: 0.7;
    }

    &--3 {
      bottom: 40%;
      opacity: 0.5;
    }

    &--4 {
      bottom: 60%;
      opacity: 0.3;
    }

    &--5 {
      bottom: 80%;
      opacity: 0.2;
    }
  }
}

.door {
  &--left {
    position: absolute;
    width: 15%;
    height: 25%;
    left: 0;
    top: calc(75% / 2);
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $wall-fill-color;
  }

  &--right {
    position: absolute;
    width: 15%;
    height: 25%;
    right: 0;
    top: calc(75% / 2);
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $wall-fill-color;
  }
}

.seat {
  border: 1px solid $border-color;
  position: absolute;
  width: 90%;
  margin: 5%;
  height: 50%;
  font-size: 80%;

  &.bg-seat-empty {
    color: $seat-empty-icon-color;
  }

  &.bg-seat-occupied {
    color: $seat-occupied-icon-color;
  }
}

.stool {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: absolute;
  border: 1px solid $border-color;
  bottom: 15%;
  left: 40%;
}

.bg-seat-empty {
  background-color: $seat-empty-fill-color;
}

.bg-seat-occupied {
  background-color: $seat-occupied-fill-color;
}

.bg-tech-support {
  background-color: $seat-tech-support-fill-color;
}

.bg-tournament-support {
  background-color: $seat-tournament-support-fill-color;
}

.bg-cashier {
  background-color: $seat-cashier-fill-color;
}

.bar-icon {
  color: $bar-icon-color;
}

.sleep-icon {
  color: $sleep-icon-color;
}

.beamer-icon {
  color: $beamer-icon-color;
}

.rotation-container {
  min-width: $cell-size;
  max-width: $cell-size;
  min-height: $cell-size;
  max-height: $cell-size;
}

.Degree0 {
  transform: rotate(0deg);
}

.Degree90 {
  transform: rotate(90deg);
}

.Degree180 {
  transform: rotate(180deg);
}

.Degree270 {
  transform: rotate(270deg);
}


