@import '../../../../../theme';

.tournament-card {
  box-shadow: none;
  transition: box-shadow ease-in-out 200ms, border-color ease-in-out 200ms;
  border: 1px solid nb-theme(background-basic-color-3);

  &:hover {
    border-color: nb-theme(color-warning-hover);
    box-shadow: nb-theme(shadow);
  }
}

.image-container {
  height: 50%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  filter: motionBlur(100%);

  .tournament-card:hover > nb-card-body > & {
    transform: scale(1.1);
    transition: transform ease-out 6000ms;
  }
}

.img-scale {
  width: 100%;
  height: auto;
}
