<nb-card class="overflow-hidden tournament-card mb-5">
  <nb-card-body [style.padding]="0" class="overflow-hidden position-relative">
    <ng-container *ngIf="image">
      <div class="image-container">
        <img [src]="image" class="img-scale" [alt]="tournament.name">
      </div>
      <ng-container *ngIf="(userIsManager$ | async) === true">
        <div class="delete-button-container">
        </div>
      </ng-container>
    </ng-container>
  </nb-card-body>
  <nb-card-body>
    <h4 class="text-center font-weight-lighter">{{tournament.name}}</h4>
    <hr>
    <div class="d-flex justify-content-between px-3">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="mb-0 d-flex flex-column justify-content-around text-light">
          <div class="d-flex"><strong>Gamemode </strong></div>
          <div class="d-flex">
            {{tournament.playerPerTeam + 'v' + tournament.playerPerTeam}}
            {{tournament.mode === 'SingleElimination' ? 'Single Elimination' : 'Double Elimination'}}
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="mb-0 d-flex flex-column justify-content-around text-light">
          <ng-container *ngIf="currentUser$ | async as currentUser">
            <div class="d-flex text-color-success font-weight-bold"
                 *ngIf="tournament.getUserTeam(currentUser) !== null">
              You joined
            </div>
          </ng-container>
          <div class="d-flex">
            {{tournament.humanTeams.length}} {{tournament.humanTeams.length === 1 ? 'Participant' : 'Participants'}}
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="(userIsManager$ | async) === true">
      <div class="d-flex flex-row justify-content-center py-2">
        <button nbButton [nbPopover]="managementActions" nbPopoverPlacement="bottom"
                appearance="outline" status="info">Management-Actions
          <nb-icon [icon]="'arrow-ios-downward-outline'"></nb-icon>
        </button>
      </div>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-between align-items-center pl-3">
      <ng-container [ngSwitch]="tournament.state">
        <ng-container *ngSwitchCase="TournamentState.PLANNING">
          <div>
            <nb-icon [icon]="'clock-outline'" status="info" class="mr-2"></nb-icon>
            Planned Tournament
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="TournamentState.OPEN_FOR_REGISTRATION">
          <div>
            <nb-icon [icon]="'log-in-outline'" status="warning" class="mr-2"></nb-icon>
            Open for Registration
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="TournamentState.FINISHED">
          <div>
            <nb-icon [icon]="'checkmark-outline'" status="warning" class="mr-2">
            </nb-icon>
            Finished
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="TournamentState.RUNNING">
          <div>
            <nb-icon [icon]="'play-circle-outline'" status="success" class="mr-2">
            </nb-icon>
            Running
          </div>
        </ng-container>
      </ng-container>

      <ng-container [ngSwitch]="tournament.state">
        <ng-container *ngSwitchCase="TournamentState.OPEN_FOR_REGISTRATION">
          <ng-container
            *ngTemplateOutlet="openForRegistrationActions; context: {$implicit: tournament}"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="TournamentState.RUNNING">
          <ng-container
            *ngTemplateOutlet="runningActions; context: {$implicit: tournament}"></ng-container>
        </ng-container>
      </ng-container>
    </div>

  </nb-card-footer>
</nb-card>

<ng-template #managementActions>
  <div class="px-3 py-2">
    <h6 class="font-weight-lighter text-center">Tournament Management</h6>
    <div class="d-flex flex-column justify-content-center py-2">
      <ng-container *ngIf="tournament.state === TournamentState.PLANNING">
        <button nbButton class="mb-3" appearance="outline" status="success" size="large"
                (click)="tournamentOpenRegistration.emit(tournament)">
          Open Tournament Registration
        </button>
      </ng-container>
      <ng-container *ngIf="tournament.state === TournamentState.OPEN_FOR_REGISTRATION">
        <button nbButton class="mb-3" appearance="outline" status="success"
                (click)="tournamentStart.emit(tournament)"
                [disabled]="tournament.teams.length < 2">
          Start Tournament
        </button>
      </ng-container>
      <button nbButton class="mb-3" appearance="outline" status="primary"
              (click)="tournamentUpdate.emit(tournament)">
        Edit Tournament
      </button>
      <button nbButton class="mb-3" status="danger" appearance="outline"
              (click)="tournamentDelete.emit(tournament)">
        Delete Tournament
      </button>
    </div>
  </div>
</ng-template>

<ng-template #openForRegistrationActions let-tournament>
  <div class="d-flex flex-row justify-content-end align-content-center h-100">
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <button *ngIf="asTournament(tournament).getUserTeam(currentUser) === null" class="mr-3" nbButton status="success"
              [size]="'medium'" appearance="outline"
              (click)="register(tournament)">Join Now!
      </button>
      <ng-container *ngIf="tournament.playerPerTeam === 1">
        <button *ngIf="asTournament(tournament).getUserTeam(currentUser) !== null" class="mr-3" nbButton
                status="warning"
                [size]="'medium'" appearance="outline"
                (click)="unregister(asTournament(tournament).getUserTeam(currentUser), currentUser)">Revoke registration
        </button>
      </ng-container>
      <ng-container *ngIf="tournament.playerPerTeam > 1">
        <button *ngIf="asTournament(tournament).getUserTeam(currentUser) !== null" class="mr-3" nbButton
                status="success"
                [size]="'medium'" appearance="outline"
                [routerLink]="['/tournaments', tournament.id, 'teams']">
          View Teams
        </button>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #runningActions let-tournament>
  <div class="d-flex flex-row justify-content-end align-content-center h-100">
    <button nbButton status="success"
            [size]="'medium'" appearance="outline" [routerLink]="['/tournaments',tournament.id]">Matches Overview
    </button>
  </div>
</ng-template>
