<ng-select [items]="(users$ | async)"
           [placeholder]="'Choose a Player'"
           bindLabel="nickname"
           [ngModel]="selectedUserModel"
           [dropdownPosition]="'bottom'"
           (ngModelChange)="onNgModelChange($event)"
           (scrollToEnd)="loadMoreUsersEvent.next(currentPage)"> {{currentPage}}
  <ng-template ng-option-tmp let-user="item" let-index="index" let-search="searchTerm">
    <div class="py-2">
      <lan-user [user]="user" [disableMenu]="true"></lan-user>
    </div>
  </ng-template>
</ng-select>
