<ng-container>
  <ng-container *ngIf="(isCurrentUser$ | async) === true || (isAdmin$ | async) === true">
    <nb-card accent="primary">
      <nb-card-body>
        <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
      </nb-card-body>
    </nb-card>
  </ng-container>

  <ng-container *ngIf="(isCurrentUser$ | async) === false && (isAdmin$ | async) === false">
    <nb-card>
      <nb-card-body>
        <router-outlet></router-outlet>
      </nb-card-body>
    </nb-card>
  </ng-container>
</ng-container>
