<div class="row">
  <ng-container *ngFor="let t of tournaments?.results">
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="px-xl-3 mb-3">
        <lan-tournament-card [tournament]="t"
                             (tournamentStart)="tournamentStart.emit($event)"
                             (tournamentUpdate)="tournamentUpdate.emit($event)"
                             (tournamentOpenRegistration)="tournamentOpenRegistration.emit($event)"
                             (tournamentDelete)="tournamentDelete.emit($event)">
        </lan-tournament-card>
      </div>
    </div>
  </ng-container>
</div>
