<nb-card [accent]="form.valid ? 'success' : 'info'" style="min-width: 30vw; max-width: 60vw;">
  <nb-card-header>Update Tournament</nb-card-header>
  <nb-card-body *ngIf="tournament">
    <form [formGroup]="form">
      <div class="mb-5 mt-2">
        <label for="name"><strong>Tournament Name</strong></label><br>
        <input type="text" id="name" nbInput placeholder="Name"
               [status]="formFieldStatus('name')"
               fullWidth="true" formControlName="name">
        <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
        </div>
        <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('minlength')">Minimum
          length is 8
          characters
        </div>
        <div class="form-error" *ngIf="form.get('name').touched && form.get('name').hasError('maxlength')">Maximum
          length is 100
          characters
        </div>
      </div>
      <div class="mb-2">
        <label for="file"><strong>Tournament Image</strong></label><br>
        <lan-image-cropper id="file" [aspectRatio]="2" [resizeToWidth]="1000" [showPreview]="false"
                           (croppedImageEvent)="fileConfirmationEvent.next($event)"></lan-image-cropper>
        <div class="form-error"
             *ngIf="form.get('image').touched && form.get('image').hasError('required')">Required
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton appearance="ghost" status="info" (click)="cancel.emit()">Cancel</button>
    <button class="float-right" nbButton [appearance]="form.valid ? 'outline' : 'ghost'" [disabled]="form.invalid"
            [status]="form.valid ? 'success' : 'primary'" (click)="submit()">
      Update Tournament
    </button>
  </nb-card-footer>
</nb-card>
