<ng-container *ngIf="user$ | async as user">
  <div class="row mt-4 mb-2">
    <div class="col-2">
      <div class="d-flex justify-content-end flex-row">
        <nb-user onlyPicture [picture]="user.imageUrl ? prepareImgUrl(user.imageUrl) : null" size="giant"
                 shape="semi-round"></nb-user>
      </div>
    </div>
    <div class="col-10">
      <div class="d-flex flex-column justify-content-center h-100">
        <h2 class="mb-0 font-weight-light">{{user.nickname}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <nb-list>
        <nb-list-item>
          <div class="float-left"><strong>Name</strong></div>
          <div class="float-right">{{user.firstName}} {{user.lastName}}</div>
        </nb-list-item>
        <nb-list-item>
          <div class="float-left"><strong>Email</strong></div>
          <div class="float-right">{{user.email}}</div>
        </nb-list-item>
      </nb-list>
    </div>
    <div class="col-4"></div>
  </div>
</ng-container>
