<nb-card *ngIf="tournamentTeam && currentUser" accent="primary">
  <nb-card-body>
    <div class="team_delete" *ngIf="currentUser.isManagerOrAdmin || (isOwner$ | async) === true">
      <button nbButton status="info" size="small" appearance="ghost" (click)="deleteTeam()">Delete Team</button>
    </div>
    <div class="d-flex flex-column align-content-center w-100">
      <div class="d-flex justify-content-center align-items-center mb-2">
        <nb-user size="giant" [onlyPicture]="true" shape="semi-round"
                 [picture]="tournamentTeam.imageUrl ? prepareImgUrl(tournamentTeam.imageUrl) : null"
                 [name]="tournamentTeam.name"></nb-user>
      </div>
      <h5 class="font-weight-light text-center mb-1">{{tournamentTeam.name}}</h5>
      <div class="text-center text-secondary">
        <span [class.text-success]="tournament.playerPerTeam === tournamentTeam.joinedMembers.length"
              [class.text-warning]="tournament.playerPerTeam !== tournamentTeam.joinedMembers.length">
          {{tournament.playerPerTeam === tournamentTeam.joinedMembers.length ? 'Team is complete' : tournament.playerPerTeam - tournamentTeam.joinedMembers.length + ' Slot open'}}</span>
        <span> &middot; </span>
        <span>{{tournament.name}}</span>
        <span> &middot; </span>
        <span>{{tournament.mode === 'SingleElimination' ? 'Single Elimination' : 'Double Elimination'}} </span>
      </div>
      <hr class="w-100 my-1">
      <ng-container *ngFor="let member of tournamentTeam.members">
        <div class="d-flex align-items-center" style="min-width: 25vw">
          <div class="d-flex px-3">
            <ng-container *ngTemplateOutlet="permissionIcon; context: {$implicit: member.permission}"></ng-container>
          </div>
          <div class="d-flex overflow-hidden pr-3 flex-grow-1">
            <lan-user [user]="member.member" [size]="'large'"></lan-user>
          </div>
          <ng-container
            *ngIf="((isMember$ | async) === true && member.member.id === currentUser.id) || (isOwner$ | async) === true">
            <div class="d-flex  justify-content-end pr-2">
              <button nbButton status="primary" appearance="ghost" [nbPopover]="memberActions"
                      [nbPopoverPlacement]="'bottom'"
                      [nbPopoverContext]="{member: member}">
                <fa-icon [icon]="faEllipsis" fixedWidth="true"></fa-icon>
              </button>
            </div>
          </ng-container>
          <ng-container
            *ngIf="member.member.id === currentUser.id && (isInvited$ | async) === true">
            <button nbButton status="success" appearance="outline" (click)="joinTeam(member.member)" class="mr-2">Join
            </button>
            <button nbButton status="danger" appearance="outline" (click)="leaveTeam(member.member)">Decline</button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </nb-card-body>
  <ng-container *ngIf="(isOwner$ | async) === true">
    <nb-card-footer class="py-0 px-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-75 pr-4 mt-1">
          <lan-user-selector [(selectedUser)]="userToInvite"></lan-user-selector>
        </div>
        <div>
          <button nbButton appearance="outline" status="success" [disabled]="!userToInvite"
                  (click)="invitePlayer(userToInvite)">Invite Player
          </button>
        </div>
      </div>
    </nb-card-footer>
  </ng-container>
</nb-card>

<ng-template #permissionIcon let-permission>
  <ng-container *ngIf="permission === EntitityPermission.OWNER">
    <div [nbTooltip]="'Leader'" [nbTooltipPlacement]="'right'">
      <fa-icon [icon]="faOwner" fixedWidth="true" [classes]="['text-warning']"></fa-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="permission === EntitityPermission.MEMBER">
    <div [nbTooltip]="'Member'" [nbTooltipPlacement]="'right'">
      <fa-icon [icon]="faMember" fixedWidth="true" [classes]="['text-secondary']"></fa-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="permission === EntitityPermission.INVITEE">
    <div [nbTooltip]="'Invited'" [nbTooltipPlacement]="'right'">
      <fa-icon [icon]="faInvitee" fixedWidth="true" [classes]="['text-info']"></fa-icon>
    </div>
  </ng-container>
</ng-template>

<ng-template #memberActions let-data>
  <div class="d-flex flex-column justify-content-center p-2">
    <h6 class="px-2 text-center mb-0">{{asMember(data.member).member.nickname}}</h6>
    <hr class="my-1 w-100">
    <div class="px-4 d-flex justify-content-center">
      <ng-container *ngIf="asMember(data.member).member.id === currentUser.id">
        <button nbButton status="warning" appearance="outline" [disabled]="tournament.isLocked"
                (click)="leaveTeam(asMember(data.member).member)">
          Leave Team
        </button>
      </ng-container>
      <ng-container *ngIf="(isOwner$ | async) === true">
        <ng-container
          *ngIf="asMember(data.member).member.id !== currentUser.id && asMember(data.member).permission === EntitityPermission.MEMBER">
          <button nbButton status="success" appearance="outline" (click)="grantLeader(asMember(data.member).member)">
            Promote to Leader
          </button>
        </ng-container>

        <ng-container
          *ngIf="asMember(data.member).member.id !== currentUser.id && asMember(data.member).permission === EntitityPermission.OWNER">
          <button nbButton status="warning" appearance="outline" (click)="revokeLeader(asMember(data.member).member)">
            Revoke Leadership
          </button>
        </ng-container>

        <ng-container
          *ngIf="asMember(data.member).member.id !== currentUser.id && asMember(data.member).permission === EntitityPermission.INVITEE">
          <button nbButton status="danger" appearance="outline"
                  (click)="revokeInvitation(asMember(data.member).member)">Revoke Invitation
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
