<ng-container *ngIf="tournament$ | async as tournament">
  <nb-card style="max-height: 85vh; min-height: 85vh;">
    <nb-card-header>
      <h2 class="font-weight-lighter">{{tournament.name}}
        <small class="h5 small text-secondary">
          &middot; {{tournament.playerPerTeam + 'v' + tournament.playerPerTeam}}
          {{tournament.mode === 'SingleElimination' ? 'Single Elimination' : 'Double Elimination'}}
          &middot; {{tournament.humanTeams.length}} {{tournament.humanTeams.length === 1 ? 'competing Team' : 'competing Teams'}}
        </small>
      </h2>
    </nb-card-header>
    <div class="position-relative" *ngIf=" (nextMatch$ | async) as nextMatch">
      <lan-tournament-next-match-card [match]="nextMatch" [tournament]="tournament" (teamHover)="onTeamHover($event)"
                                      (reloadTournamentChange)="onReloadTournamentChange()"></lan-tournament-next-match-card>
    </div>
    <ng-container *ngIf="tournament.state === TournamentState.RUNNING || tournament.state === TournamentState.FINISHED">
      <div class="overflow-auto w-100 tournament-tree-container">
        <ng-container *ngIf="tournament.mode === 'SingleElimination'">
          <ngtt-single-elimination-tree [tournament]="tournament"
                                        [matchTemplate]="match"></ngtt-single-elimination-tree>
        </ng-container>
        <ng-container *ngIf="tournament.mode === 'DoubleElimination'">
          <ngtt-double-elimination-tree [tournament]="tournament"
                                        [matchTemplate]="match"></ngtt-double-elimination-tree>
        </ng-container>
      </div>
    </ng-container>
  </nb-card>
</ng-container>

<ng-template #match let-match>
  <lan-tournament-match [match]="match" [tournament]="tournament$ | async" [highlightedTeam]="highlightedTeam"
                        (teamHover)="onTeamHover($event)"></lan-tournament-match>
</ng-template>
