<div class="upload-btn-wrapper mb-2">
  <button nbButton outline="true" status="primary">Upload an Image
  </button>
  <input type="file" id="file" (change)="onImageUploadEvent.emit($event)"/>
</div>
<image-cropper
  [imageChangedEvent]="onImageUploadEvent |async"
  [maintainAspectRatio]="true"
  [aspectRatio]="aspectRatio"
  [resizeToWidth]="resizeToWidth"
  [resizeToHeight]="resizeToHeight"
  (imageCroppedBase64)="croppedImageEvent.emit($event)"
  format="png"
></image-cropper>
<ng-container *ngIf="showPreview">
  <ng-container *ngIf="croppedImageEvent | async as img">
    <h6>Preview</h6>
    <div class="d-flex flex-row align-content-end mb-2">
      <div class="d-flex flex-column justify-content-end mr-3">
        <nb-user onlyPicture [picture]="img" size="giant" shape="semi-round"></nb-user>
      </div>
      <div class="d-flex flex-column justify-content-end mr-3">
        <nb-user onlyPicture [picture]="img" size="medium" shape="semi-round"></nb-user>
      </div>
      <div class="d-flex flex-column justify-content-end mr-3">
        <nb-user onlyPicture [picture]="img" size="small" shape="semi-round"></nb-user>
      </div>
    </div>
  </ng-container>
</ng-container>
