/* You can add global styles to this file, and also import other style files */
//@import '../node_modules/ng-tournament-tree/styles/ngtt-reset';
@import 'tournament-tree-variables';
@import '../node_modules/ng-tournament-tree/styles/ngtt-styles';
@import 'theme';
@import 'bootstrap-theme';
@import '../node_modules/bootstrap/scss/bootstrap';
// Nebular setup
@import '~@nebular/theme/styles/globals';
@import "~@ng-select/ng-select/themes/material.theme.css";

.ng-select {
  color: nb-theme(text-basic-color) !important;

  & > .ng-select-container {
    color: nb-theme(text-basic-color) !important;

    & > .ng-value-container {
      color: nb-theme(text-basic-color) !important;

      & > .ng-placeholder,
      & > .ng-input > input {
        color: nb-theme(text-basic-color) !important;
      }
    }
  }

  .ng-clear-wrapper {
    color: nb-theme(text-danger-color) !important;
  }

  .ng-dropdown-panel {
    background-color: nb-theme(background-basic-color-1);
  }
}

@include nb-install() {
  @include nb-theme-global();
}

.transition-opacity {
  transition: opacity ease-in-out 200ms;
}
