@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';


nb-sidebar .scrollable {
  padding: 0 !important;
}

nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 1.25rem !important;
}

nb-sidebar nb-sidebar-header {
  padding: 0 1.25rem !important;
}

.nav-link {
  &.nav-link-active {
    //noinspection CssInvalidPropertyValue
    color: nb-theme(color-primary-500) !important;
  }

  &:hover &:focus {
    //noinspection CssInvalidPropertyValue
    color: nb-theme(color-primary-500) !important;
  }
}

.text-color-success {
  //noinspection CssInvalidPropertyValue
  color: nb-theme(color-success-500) !important;
}
