//
// COLORS
//
@import "theme";

$ngtt-background-primary: transparent;
$ngtt-accent-primary: nb-theme(color-primary-600);
//$ngtt-accent-primary: nb-theme(color-primary-500);
//$ngtt-accent-primary: nb-theme(color-warning-default);
$ngtt-background-secondary: transparent;


//
// NgttTournament Tree Configuration
//

// tournament tree colors
$ngtt-background-color: $ngtt-background-primary;
$ngtt-line-color-main: $ngtt-accent-primary;
$ngtt-bracket-separator-color: $ngtt-background-secondary;
$ngtt-match-container-background: $ngtt-background-secondary;

//tree scaling
$ngtt-match-wrapper-width: 300px !default;
$ngtt-match-wrapper-height: 120px !default;
$ngtt-vertical-match-padding: 10px !default;
$ngtt-round-gutters: 20px !default;
$ngtt-bracket-border-radius: 5px !default;
$ngtt-bracket-line-width: 4px !default;
