<ng-container *ngIf="user$ | async as user">

  <div class="row mt-5">
    <div class="col-xl-6 col-12 mb-5">
      <form [formGroup]="userForm" (ngSubmit)="updateUser()">
        <h5 class="mb-4">Profile Details</h5>
        <ng-container *ngIf="(imageChangeEvent | async) === null">
          <p>Current Image</p>
          <div class="mb-4">
            <nb-user onlyPicture [picture]="user.imageUrl ? prepareImgUrl(user.imageUrl) : null" size="giant"
                     shape="semi-round"></nb-user>
          </div>
        </ng-container>
        <lan-image-cropper (croppedImageEvent)="imageChangeEvent.next($event)"></lan-image-cropper>
        <div class="mb-4">
          <label for="nickname">Gamertag</label><br>
          <input id="nickname" nbInput placeholder="Gamertag" type="text" fullWidth="true"
                 [status]="formFieldStatus(userForm,'nickname')" formControlName="nickname">
          <div class="form-error"
               *ngIf="userForm.get('nickname').touched && userForm.get('nickname').hasError('required')">
            Required
          </div>
          <div class="form-error"
               *ngIf="userForm.get('nickname').touched && userForm.get('nickname').hasError('minlength')">
            Minimum length is 3 characters
          </div>
          <div class="form-error"
               *ngIf="userForm.get('nickname').touched && userForm.get('nickname').hasError('maxlength')">
            Maximum length is 30 characters
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="mb-3 pr-2 w-50">
            <label for="firstName">Firstname</label><br>
            <input id="firstName" nbInput placeholder="Firstname" type="text" fullWidth="true"
                   [status]="formFieldStatus(userForm,'firstName')" formControlName="firstName">
            <div class="form-error"
                 *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('required')">
              Required
            </div>
            <div class="form-error"
                 *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('minlength')">
              Minimum length is 3 characters
            </div>
            <div class="form-error"
                 *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('maxlength')">
              Maximum length is 30 characters
            </div>
          </div>
          <div class="mb-3 pl-2 w-50">
            <label for="lastName">Lastname</label><br>
            <input id="lastName" nbInput placeholder="Lastname" fullWidth="true"
                   [status]="formFieldStatus(userForm,'lastName')" type="text" formControlName="lastName">
            <div class="form-error"
                 *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('required')">
              Required
            </div>
            <div class="form-error"
                 *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('minlength')">
              Minimum length is 3 characters
            </div>
            <div class="form-error"
                 *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('maxlength')">
              Maximum length is 30 characters
            </div>
          </div>
        </div>
        <button nbButton [appearance]="userForm.valid && !userForm.pristine ? 'outline' : 'ghost'"
                [disabled]="userForm.invalid || userForm.pristine"
                [status]="userForm.valid ? 'success' : 'primary'">Update Profile
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-12 mb-5">
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <h5 class="mb-0">Change Password</h5>
        <div class="d-flex flex-row mb-3">
          <div class=" pr-2 w-50">
            <label for="pw" class="sr-only" style="max-height: 1px;">Password</label><br>
            <input id="pw" nbInput placeholder="Password" type="password" fullWidth="true"
                   [status]="formFieldStatus(passwordForm,'pw')" formControlName="pw">
            <div class="form-error"
                 *ngIf="passwordForm.get('pw').touched && passwordForm.get('pw').hasError('required')">
              Required
            </div>
            <div class="form-error"
                 *ngIf="passwordForm.get('pw').touched && passwordForm.get('pw').hasError('minlength')">
              Minimum length is 8 characters
            </div>
            <div class="form-error"
                 *ngIf="passwordForm.get('pw').touched && passwordForm.get('pw').hasError('maxlength')">
              Maximum length is 255 characters
            </div>
          </div>

          <div class="pl-2 w-50">
            <label for="pwConfirm" class="sr-only" style="max-height: 1px;">Confirm Password</label><br>
            <input id="pwConfirm" nbInput placeholder="Confirm Password" fullWidth="true"
                   [status]="formFieldStatus(passwordForm,'pwConfirm')" type="password" formControlName="pwConfirm">
            <div class="form-error"
                 *ngIf="passwordForm.get('pwConfirm').touched && passwordForm.get('pwConfirm').hasError('required')">
              Required
            </div>
            <div class="form-error"
                 *ngIf="passwordForm.get('pwConfirm').touched && passwordForm.get('pwConfirm').hasError('minlength')">
              Minimum length is 8 characters
            </div>
            <div class="form-error"
                 *ngIf="passwordForm.get('pwConfirm').touched && passwordForm.get('pwConfirm').hasError('maxlength')">
              Maximum length is 255 characters
            </div>
            <div class="form-error"
                 *ngIf="passwordForm.get('pwConfirm').touched && this.passwordForm.hasError('passwordsNoMatch')">
              Passwords do not match
            </div>
          </div>
        </div>

        <button nbButton [appearance]="passwordForm.valid ? 'outline' : 'ghost'"
                [disabled]="passwordForm.invalid"
                [status]="passwordForm.valid ? 'success' : 'primary'">Change Password
        </button>
      </form>
    </div>
  </div>

</ng-container>
